<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Поиск пользователя по email</title>
</head>
<body>
<h1>Поиск пользователя по email</h1>
<form th:action="@{/search}" method="post">
    <label for="email">Введите email:</label>
    <input type="text" id="email" name="email" required>
    <button type="submit">Поиск</button>
</form>

<p th:text="${message}"></p> <!-- Здесь будет выводиться сообщение о результате поиска -->
</body>
</html>
